<div class="first-page">

  <h3>Login</h3>

  <form action="<%= session_url %>" method="post">
    <%= render 'shared/auth' %>

    <div class='form-group'>
      <label for="username"></label>
      <input type="text" name="user[username]" placeholder="username" id='username' value="">
    </div>
    <div class='form-group'>
      <label for="password"></label>
      <input type="password" name="user[password]" placeholder="password" id='password' value="">
    </div>

    <input type="submit" value="Sign In">

  </form>
  <h6>New user? <%= link_to "Sign up here", new_user_url %><h6>
</div>
