<div class="jumbotron">

  <h3>Sign In</h3>

  <form action="<%= session_url %>" method="post">
    <%= render 'shared/auth' %>

    <div class='form-group'>
      <label for="username">Username</label>
      <input type="text" name="user[username]" id='username' value="">
    </div>
    <div class='form-group'>
      <label for="password">Password</label>
      <input type="password" name="user[password]" id='password' value="">
    </div>

    <input type="submit" value="Sign In">

  </form>
</div>
