/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html, body, section, article,
h1, h2, h3, p, strong, em, div, ul {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  font-family: sans-serif;
  font-size: 13px;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.header-nav {
  background: url('http://i.stack.imgur.com/jGlzr.png') no-repeat 0 0 scroll;
  background-color:#0C0C0C;
  height: 54px;
  border-bottom: 3px solid #A98762;
}

.fridge-logo {
  padding: 2px;
  height: 100%;
  margin: 0;
  height: 50px;
  width: 240px;
  display: block;
  float: left;

}

::-webkit-scrollbar {
    display: none;
}

.hello-username {
  display: block;
  float: left;
  height: 100%;
  padding: 13px;

}

.logout-button {
  height: 50px;
}

.button_to {
  height: 100%;
}

.header-list {
  float:right;
}

html {
  height: 100%;;
}

body {
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("spoonbackground.jpg");
  background-size: cover;
}

.home-container{
  height: 100%;
}

.back-link{
  font-size: 19px;
  float:left;
  display: block;
  position: absolute;
  width: 195px;
  margin-left: 11px;
  margin-top: 5px;
}

#root {
  height: 85%;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

.jumbotron {
  padding: 40px
}


.btn {
  background: green;
  width: 138px;
  font-weight: bold;
  margin: 10px;
  border: 1px solid black;
}

#fridge-index-item {
  background: white;
  -webkit-background-size: cover;
}
//
// body {
//   background: blue;
// }

// #wrapper {
//   width: 100%;
//   margin: 0 auto;
//   position: relative;
// }

.ingredients-index-pane {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  width: 337px;
  overflow: auto;
  float: left;
  // background: white;

  background: url('http://i.stack.imgur.com/jGlzr.png') no-repeat 0 0 scroll;
  background-color:#0C0C0C;

  border: 3px solid #A98762;
  border-radius: 6px;
  max-width: 100%;
  box-sizing: border-box;
}

.fridge_items-index-pane {
  display: block;
  margin-right: 10px;
  border: 2px solid black;
  height: 100%;
  width: 164px;
  overflow: auto;
  float: left;

  background: white;

  border: 3px solid black;
  border-radius: 6px;
  max-width: 100%;
  box-sizing: border-box;
}

.recipes_items-index-pane {
  margin-right: 10px;
  height: 100%;
  overflow: auto;
  display: block;

  background: url('http://i.stack.imgur.com/jGlzr.png') no-repeat 0 0 scroll;
  background-color:#0C0C0C;

  border: 3px solid #A98762;
  border-radius: 6px;
  max-width: 100%;
  box-sizing: border-box;
}

.recipes-index-item {
  height: 200px;
  width: 210px;
  float: left
}

.foodiefridge-app {
  height: 100%;
}

// .foodiefridge-app:after {
//   content: "";
//   display: block;
//   clear: both;
// }

.recipe-show-pane {
  text-align: center;
  padding: 0px;
}

a {
  color: #428bca;
}

#recipe-show-photo {
  display: -webkit-inline-box;
  border: 3px solid #428bca;
  border-radius: 6px;
  max-width: 100%;
  box-sizing: border-box;
}

.recipe-tile{
  margin: 9px;
  display: -webkit-inline-box;
  cursor: pointer;
  position: relative;
  width: 215px;
  height: 205px;
  z-index: 1;
 .recipe-tile{
   perspective: 1000;
 }
  .recipe-tile-inner {
    width: 100%;
    height: 100%;
    border-radius: $border-radius-base;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
  }
  .img-container{
    display: block;
    width: 215px;
    height: 140px;
    border-bottom: 2px solid white;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  .front, .back{
    position: absolute;
    top: 0;
    border-radius: $border-radius-base;
    border: 3px solid #BFA386;
    height: 205px;
    width: 215px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .front{
    overflow: hidden;
  }
  .back{
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: #eee;
    overflow-y: auto;
    h5{
      font-weight: bold;
    }
    ul{
      padding-left: 0;
      li{
        padding: 2px;
      }
    }
  }
  .caption_title {
    height: 60px;
    width: 100%;
    text-align: center;
    background: #eee;
    font-weight: bold;
    padding-top: 5px;
    h5{
      margin-top: 0;
    }
  }
}

.recipe-tile:hover .recipe-tile-inner{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  box-shadow: -10px 10px 10px #aaa;
}
