/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html, body, section, article,
h1, h2, p, strong, em, a, div {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

.jumbotron {
  padding: 40px
}

.btn {
  background: green;
  width: 120px;
  font-weight: bold;
  margin: 10px;
  border: 1px solid black;
}

.foodiefridge-app {
  min-width: 1400px;
}

.fridge_items-index-pane {
  border: 2px solid black;
  height: 600px;
  width: 200px;
  overflow: auto;
  float: left;
}

.ingredients-index-pane {
  margin-left: 5px;
  margin-right: 5px;
  height: 600px;
  width: 400px;
  overflow: auto;
  float: left;
}

.recipes_items-index-pane {
  height: 600px;
  width: 600px;
  overflow: auto;
  float: left;
}

.recipes-index-item {
  width: 210px;
  float: left
}

.foodiefridge-app:after {
  content: "";
  display: block;
  clear: both;
}
